<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../css/layout.css">
</head>
<body>
    <!-- Inicio -->
    <div id="container">

        <!-- Marca -->
        <div id="marca">Inicio</div>

        <!-- Conteúdo -->
        <div id="conteudo">

            <!-- divisão de conteudo -->
            <div id="cont_um">

                <h2>Lorem Ipsum</h2>

                <img class="img_noticia" src="../../../imagem/natureza.jpg">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed dui eros. Quisque ligula turpis, pellentesque id leo nec, elementum pretium enim. Vestibulum iaculis ut metus eu molestie. Vestibulum viverra placerat malesuada.
                </p>
                

                <p>
                    Vestibulum laoreet consectetur eros et volutpat. Sed laoreet libero in tincidunt cursus. Proin rutrum sem et cursus vulputate. Vivamus et risus pellentesque, condimentum lacus quis, efficitur tellus. Vivamus ac est dolor. Quisque metus sapien, interdum at dictum sit amet, elementum vel odio.

                </p>

                
            </div>

            <div id="cont_dois">

                <h2>Praesent venenatis</h2>

                <p>Pellentesque elit mi, lacinia eu ultricies a, volutpat sed tellus. Nulla dignissim erat non nulla feugiat elementum.</p>
                <p>Pellentesque elit mi, lacinia eu ultricies a, volutpat sed tellus. Nulla dignissim erat non nulla feugiat elementum.</p>
                

            </div>

        </div>

        <!-- Navegação -->
        <div id="navegacao">
            <ul id="nav_list">
                <li class="inicio"><a href="inicio.html">Inicio</a></li>
                <li class="tabelas"><a href="tabelas.html">Tabelas</a></li>
                <li class="noticias"><a href="noticias.html">Notícias</a></li>
                <li class="produtos"><a href="produtos.html">Produtos</a></li>
                <li class="servicos"><a href="servicos.html">Serviços</a></li>
                <li class="clientes"><a href="clientes.html">Clientes</a></li>
                <li class="contatos"><a href="contatos.html">Contatos</a></li>
            </ul>
        </div>

        <!-- Rodapé -->
        <div id="rodape">Rodapé</div>
    </div>
    <!-- Fim -->
</body>
</html>