<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="../../css/tabela.css">
</head>
<body>
    <!-- Inicio -->
    <div id="container">

        <!-- Marca -->
        <div id="marca">Inicio</div>

        <!-- Conteúdo -->
        <div id="conteudo">

            <!-- divisão de conteudo -->
            <div id="cont_um">

                <h2>Tabela</h2>
                <table id="tabela">
                    <tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th class="num">Preço</th>
                    </tr>
                    <tr class="item02">
                        <td>001</td>
                        <td>Notebook</td>
                        <td class="num">R$ 2.500</td>
                    </tr>
                    <tr class="item">
                        <td>002</td>
                        <td>Tablet</td>
                        <td class="num">R$ 1.500</td>
                    </tr>
                    <tr class="item02">
                        <td>003</td>
                        <td>Iphone</td>
                        <td class="num">R$ 3.500</td>
                    </tr>
                    <tr class="item">
                        <td>004</td>
                        <td>Nexus</td>
                        <td class="num">R$ 3.500</td>
                    </tr>
                </table>

                
            </div>
        </div>

        <!-- Navegação -->
        <div id="navegacao">
            <ul id="nav_list">
                <li class="inicio"><a href="inicio.html">Inicio</a></li>
                <li class="tabelas"><a href="tabelas.html">Tabelas</a></li>
                <li class="noticias"><a href="noticias.html">Notícias</a></li>
                <li class="produtos"><a href="produtos.html">Produtos</a></li>
                <li class="servicos"><a href="servicos.html">Serviços</a></li>
                <li class="clientes"><a href="clientes.html">Clientes</a></li>
                <li class="contatos"><a href="contatos.html">Contatos</a></li>
            </ul>
        </div>

        <!-- Rodapé -->
        <div id="rodape">Rodapé</div>
    </div>
    <!-- Fim -->
</body>
</html>