.conteudo{
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    color: #fff;
    
}

.conteudo span.titulo{
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
}

body, html{
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
    
}

h3{
    text-transform: uppercase;
    color: brown;
    text-align: center;
}

p{
    margin-bottom: 20px;
}

.conteudo{
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}

/* Para criar um texto dentro de uma imagem de paralax utilize do elemento span dentro de uma div. Após isso utilize duas class uma no div e outra no span. A do span será para estilizar o conteudo dentro do elemento. Já a div tem a função de armazenar o span e alinha-lo ao centro do paralaz */

.conteudo span.conteudo-span{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}

.imagem1, .imagem2, .imagem3, .imagem4{
    position: relative;
    height: 100%;
    background-repeat: no-repeat; /*garante que a imagem que não se repita*/
    background-size: cover; /*faz a imagem cobrir toda a tela*/
    background-position: center; /*centraliza a imagem*/
    background-attachment: fixed; /*dá o efeito do paralax*/
    
}

.imagem1{
    background-image: url(../img/paralax/imagem1.jpg);
}

.imagem2{
    background-image: url(../img/paralax/imagem2.jpg);
}

.imagem3{
    background-image: url(../img/paralax/imagem3.jpg);
}

.imagem4{
    background-image: url(../img/paralax/imagem4.jpg);
}

