body{
    background: #d2d2c1 url('img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1{
    color: #828271;
    font-size: 1.2em;
}

#principal{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

#rodape{
    text-align: center;
}

#contato-num{
    font-size: 14px;
    color: #4b566a;
    font-weight: bold;
    border: 3px solid #c3c3ae ;
    float: none;
    width: 300px;
    height: 50px;
    margin-left: 30%;
}

.img-campanha{
    border: #c3c3ae solid 10px ;
}


