ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent:40px;
    line-height: 40px;
    background: #f7b600 url('../../imagem/menu.png') no-repeat left bottom;
}

a:hover{
    background-position: right bottom;
    background-color: #f99200;
    color: gray;
}

#status .status a,
#inventario .inventario a,
#mapas .mapas a,
#novidades .novidades a,
#config .config a{
    background-position: right bottom;
    background-color: #f99200;
    color: gray;
}
